NODE_ENV=development

POSTGRES_DB=veridex
POSTGRES_USER=veridex
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

BACKEND_HOST=0.0.0.0
BACKEND_PORT=3000
MAX_FILE_SIZE_BYTES=10485760

AI_HOST=0.0.0.0
AI_PORT=8000

STORAGE_ROOT=/storage

EMBEDDING_MODEL=intfloat/multilingual-e5-small
EMBEDDING_DIMENSIONS=384

CHUNK_SIZE=1000
CHUNK_OVERLAP=150
